#programas,#galeria
    overflow-y hidden
.banner-programas,.banner-imagenes
    position relative
    width 100% !important
    overflow auto
    overflow-y hidden
    padding 0
    margin 0


.banner-programas,.banner-imagenes ul
    padding 0
    margin 0


.banner-programas,.banner-imagenes li
    list-style-type none
    margin 0
    padding 0

.banner-programas ul hr
    width 60%
    margin 1em auto 0
    border .5px solid #000 
.banner-imagenes ul li
    padding 0
    margin 0
    min-height 100vh
    background-size cover
    background-repeat no-repeat
    // background-position-y -75px
.banner-programas
    // float left
    padding 0
    margin 0
    min-height 100%
    background-size cover
    background-repeat no-repeat
    background-position-y -75px

