<!DOCTYPE html>
html(lang="es")
head
    meta(name="author",content="Arnold Restrepo Hernández, Desarrollador Front-End")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="", content="")
    <!-- Etiquetas meta para posicionamiento SEO -->
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Fundación Porvenir y Felicidad
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/unslider.css")
    link(rel="stylesheet", href="css/estilos.css")
body
    #container
        header
            .hamburguesa
                img(src="img/list.png", alt="Menu")
            nav
                #logo
                    img.__logo(src="img/logo_porvenir.png", alt="Logo Fundación Provenir y Felicidad")
                    h2.__title Fundación Provenir y Felicidad
                ul#menu
                    li: a(href="#nosotros") Nosotros
                    li: a(href="#programas") Programas
                    li: a(href="#galeria") Galeria
                    li: a(href="#padrino") Plan Padrino
                    li: a(href="#contacto") Contacto
            
        video#fundacion(src="img/fundacion.mp4" controls autoplay loop).
            Tu navegador no soporta el elemento video
            <!-- navegacion -->
        <!-- Cabecera -->
        section#nosotros
            article.__contenido
                h1 NOSOTROS
                h3.__tittle Misión
                p.__desc.
                    La Fundación Porvenir y Felicidad es una entidad sin ánimo de lucro, comprometida con el bienestar de los niños y las familias del municipio de Mosquera y alrededores,  donde  se brindan   soluciones a las problemáticas de la comunidad a través de redes de apoyo.
                h3.__tittle Visión
                p.__desc.
                    Las familias pertenecientes a la fundación Porvenir y Felicidad  potencializarán sus habilidades, capacidades y competencias,  con el fin de mejorar su calidad de vida y proyección profesional de los niños y adolescentes fortalecidos en principios y valores. 
                h3.__tittle Objetivo General
                p.__desc.
                    Crear redes de apoyo a través de la Fundación Porvenir y Felicidad con entidades públicas y/o privadas que brinden soluciones a la problemática particular de las familias vulnerables del municipio de Mosquera y alrededores.
                h3.__tittle Actividades Pedagógicas y Culturales
                p.__desc.
                    En la Fundación Porvenir  y Felicidad  manejamos variedad de cursos con diversas metodologías que rotan durante los días hábiles.
        <!-- Nosotros --> 
        section#programas
            .banner-programas
                ul
                    li(style="background-image: url(img/deporte.jpg)")
                        h2 PROGRAMAS
                        h3 Deportes y Gimnasia
                        p En este curso los niños, niñas y adolescentes, elevan su cuerpo a la máxima expresióndel movimiento, ayudándolos a mejorar sus habilidades motoras básicas, en pro de u desarrollo integral.
                        hr
                        img(src="img/deportes.png", width="100" height="100", alt="Deportes")
                    li(style="background-image: url(img/literatura.jpg)")
                        h2 PROGRAMAS
                        h3 Literatura y Lenguaje
                        p Es un espacio en el cual mediante la  lectura de libros, escritura libre y aprendizaje del lenguaje español, los niños cultivan el amor por la literatura y desarrollan herramientas adecuadas de lectura y escritura.
                        hr
                        img(src="img/literatura.png", width="100" height="100", alt="Literatura")
                    li(style="background-image: url(img/teatro.jpg)")
                        h2 PROGRAMAS
                        h3 Artes Escénicas
                        p Se instruye a los niños en el desarrollo de habilidades de coordinación, relajación, respiración, expresión corporal, por medio de dramatizaciones, narraciones, títeres y mimos para el manejo de sus relaciones sociales y familiares, además de incentivar métodos para el control adecuado de sus emociones.
                        hr
                        img(src="img/artes.png", width="100" height="100", alt="Artes")

                    li(style="background-image: url(img/plasticas.jpg)")
                        h2 PROGRAMAS
                        h3 Artes Plásticas
                        p En este curso se encuentran materiales propicios, que permiten  trabajar patrones manuales, tales como el desarrollo de la mano dominante, coordinación viso motora y manejo adecuado de la motricidad fina, con el fin de reforzar habilidades de escritura, además de fomentar la creación de diversas obras de arte que desarrollan su creatividad.
                        hr
                        img(src="img/plasticas.png", width="100" height="100", alt="Artes")
                    li(style="background-image: url(img/musica.jpg)")
                        h2 PROGRAMAS
                         h3 Música
                         p Este espacio está diseñado para conocer diferentes sonidos, ritmos y melodías a través de la interacción con distintos instrumentos musicales y así despertar el gusto por el arte, promover una interacción cultural y fortalecer valores humanísticos como el respeto, la tolerancia y la paz.
                         hr
                         img(src="img/musica.png",width="100" height="100", alt="Música")

        <!-- Programas -->
        section#galeria
            h1 GALERIA
            .banner-imagenes
                ul
                    li(style="background-image: url(img/img1.jpg)")
                    li(style="background-image: url(img/img2.jpg)")
                    li(style="background-image: url(img/img3.jpg)")
                    li(style="background-image: url(img/img4.jpg)")
                    li(style="background-image: url(img/img5.jpg)")
                    li(style="background-image: url(img/img6.jpg)")
                    li(style="background-image: url(img/img7.jpg)")
                    li(style="background-image: url(img/img8.jpg)")
                    li(style="background-image: url(img/img9.jpg)")
                    li(style="background-image: url(img/img10.jpg)")
                    li(style="background-image: url(img/img11.jpg)")
                    li(style="background-image: url(img/img12.jpg)")
                    li(style="background-image: url(img/img13.jpg)")
                    li(style="background-image: url(img/img14.jpg)")
                    li(style="background-image: url(img/img15.jpg)")
                    li(style="background-image: url(img/img16.jpg)")
                    li(style="background-image: url(img/img17.jpg)")
                    li(style="background-image: url(img/img18.jpg)")
                    li(style="background-image: url(img/img19.jpg)")
                    li(style="background-image: url(img/img20.jpg)")
                    li(style="background-image: url(img/img21.jpg)")
                    li(style="background-image: url(img/img22.jpg)")
                    li(style="background-image: url(img/img23.jpg)")
                    li(style="background-image: url(img/img24.jpg)")
                    li(style="background-image: url(img/img25.jpg)")
                    li(style="background-image: url(img/img26.jpg)")
                    li(style="background-image: url(img/img27.jpg)")
                    li(style="background-image: url(img/img28.jpg)")
                    li(style="background-image: url(img/img29.jpg)")
                    li(style="background-image: url(img/img30.jpg)")
                    li(style="background-image: url(img/img31.jpg)")
                    li(style="background-image: url(img/img32.jpg)")
                    li(style="background-image: url(img/img33.jpg)")
                    li(style="background-image: url(img/img34.jpg)")
                    li(style="background-image: url(img/img35.jpg)")
                    li(style="background-image: url(img/img36.jpg)")
                    li(style="background-image: url(img/img37.jpg)")
                    li(style="background-image: url(img/img38.jpg)") 
        <!-- Galeria -->
        section#padrino
            h2 PLAN PADRINO
            h4 Queremos transformar la infancia de nuestros niños y niñas, fomentando en ellos el amor y la educación integral.
            p Dale la oportunidad a niños y niñas de 0 a 18 años.
            ul
                li    Apoyo Nutricional y crecimiento.
                li    Programas de desarrollo personal
                li    Protección y prevención 
                li    Formación en hábitats y valores
                li    Fomentar el desarrollo social 
                li    Entre familias y la comunidad.

        <!-- Plan Padrino -->
        footer#contacto
            h2.__title Haz Contacto con Nosotros
            form.__form(action="mail.php", method="post")
                .columna1
                     span Nombre
                     input(type="text", name="nombre",required)
                     span Apellido
                     input(type="text", name="apellido",required)
                     span Teléfono
                     input(type="text", name="telefono",)
                     span E-mail    
                     input(type="text", name="email",required)
                .columna1
                    span Asunto y Comentarios
                    textarea(name="com",).__comentarios
                input(type="submit" value="Enviar")
            hr
            article.datos__contacto
                p.datos__des Dirección: Calle13a N°3-46 Porvenir Rio vía Mosquera
                p.datos__des Email: direcciongeneral@porveniryfelicidad.org
                p.datos__des Contacto: +57 8932807 - +57 3106693369
            h3 Siguenos en Nuestras Redes Sociales
            .social.__instagram 
                a(href="#") 
                    img(src="img/instagram.png", alt="Instagram", title="Instagram")
            .social.__youtube
                a(href="#") 
                    img(src="img/youtube.png", alt="youtube", title="YouTube")
            .social.__facebook
                a(href="#")  
                    img(src="img/facebook.png", alt="facebook", title="Facebook")
            .social.__twitter
                a(href="#")  
                    img(src="img/twitter.png", alt="twitter", title="Twitter")
        <!-- Contacto -->
    <!--  Contenedor General -->
    script(src="js/jquery-3.1.0.min.js")
    script(src="js/unslider.js")
    script(src="js/main.js")
        